body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;

    background: url("https://img.freepik.com/fotos-gratis/vista-da-sala-de-ginastica-para-treinamento-e-esportes_23-2151699540.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
.hero {
    padding: 60px 20px;
}

.hero h1 {
    font-size: 70px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ff2e2e;

    text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0000,
        0 0 20px #ff0000,
        0 0 40px #ff1a1a;

    animation: glow 1.5s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
        text-shadow:
            0 0 5px #ff0000,
            0 0 10px #ff0000;
    }
    to {
        text-shadow:
            0 0 10px #ff0000,
            0 0 20px #ff0000,
            0 0 40px #ff1a1a;
    }
}
.hero p {
    font-size: 20px;
    color: #ccc;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    text-decoration: none;
    color: white;
    width: 280px;
    background: #111;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    border: 1px solid red;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h2 {
    padding: 15px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px red;
}