body {
     background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url("https://img.freepik.com/premium-photo/dark-gym-with-red-lights-black-background_876956-1224.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.exercise {
         margin: 20px;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
}

input {
    background-color: rgba(255, 0, 0, 0.15);
    color: white;
    border: 1px solid red;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    outline: none;
}